apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: trilium

resources:
- deployment.yaml
- service.yaml
- pvc.yaml
- httproute.yaml

labels:
- pairs:
    app: trilium

commonAnnotations:
  argocd.argoproj.io/sync-wave: "0"