apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: trilium

resources:
- https://github.com/TriliumNext/Trilium/raw/main/trilium-server/deployment.yaml
- https://github.com/TriliumNext/Trilium/raw/main/trilium-server/service.yaml
- pvc.yaml
- httproute.yaml

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: trilium-server
- path: service-patch.yaml
  target:
    kind: Service
    name: trilium-server

labels:
- pairs:
    app: trilium

commonAnnotations:
  argocd.argoproj.io/sync-wave: "0"