BASE_DOMAIN=example.invalid
ADMIN_EMAIL=admin@example.invalid
KUBE_VIP=192.0.2.216

K3S_NODE_0=192.0.2.210
K3S_NODE_1=192.0.2.211
K3S_NODE_2=192.0.2.212
K3S_NODE_3=192.0.2.213
K3S_NODE_4=192.0.2.214
K3S_NODE_5=192.0.2.215

METALLB_IP_RANGE=192.0.2.200-192.0.2.220
CLOUDFLARE_ORIGIN_IP=192.0.2.200

UNRAID_IP=192.0.2.9
CLUSTER_BACKUP_EXPORT=/mnt/user/K3S-Backup
LONGHORN_BACKUP_EXPORT=/mnt/user/K3S-Longhorn

RANCHER_ADMIN_USER=admin
INGRESS_CLASS=traefik
LETSENCRYPT_ISSUER=letsencrypt-prod
