apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflared
data:
  config.yaml: |
    tunnel: ${CLOUDFLARE_TUNNEL_ID}
    no-autoupdate: true
    ingress:
      - hostname: rancher.${BASE_DOMAIN}
        service: https://${CLOUDFLARE_ORIGIN_IP}
        originRequest:
          noTLSVerify: true
      - service: http_status:404
