apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflared
data:
  config.yaml: |
    tunnel: 33474bac-6791-4d4f-94b9-a0ee54d537f8
    no-autoupdate: true
    ingress:
      - hostname: rancher.${BASE_DOMAIN}
        service: https://${CLOUDFLARE_ORIGIN_IP}
        originRequest:
          noTLSVerify: true
      - service: http_status:404
