apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: authentik

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml

commonLabels:
  app: authentik

images:
  - name: ghcr.io/goauthentik/server
    newTag: 2024.6.2