apiVersion: v1
kind: Service
metadata:
  name: nginx-test
  namespace: nginx-test
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  type: LoadBalancer
  #OPTIONAL: if you want to use L2 announcements for the LoadBalancer
  loadBalancerClass: io.cilium/l2-announcer
  selector:
    app: nginx-test
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80

